# Environment variables
.env

# Compiled files
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Virtual environment folder
venv/
.env/

# Sensitive credential files
*.json
encoded_credentials.txt

# IDE or editor specific files
.vscode/
.idea/

# Logs and temporary files
*.log
*.temp
*.bak

# Ignore specific OS files
.DS_Store
Thumbs.db
